<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourceGroups/AZ-JHB-RSG-VCKNDN-ST10033808-TER/providers/Microsoft.Web/sites/st10033808-CloudPOE</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://st10033808-cloudpoe.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://st10033808-cloudpoe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$st10033808-CloudPOE</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>